front-end/node_modules
front-end/*.swp
front-end/Thumbs.db
front-end/*.lock
front-end/*.log
front-end/*.log*
front-end/*.sublime-project
front-end/*.sublime-workspace
front-end/*.iws
front-end/*.ipr
front-end/*.iml
front-end/.idea/*
front-end/.vscode/*
front-end/public/settings.js
front-end/public/config/styles/*.css
!front-end/public/config/styles/local.example.css
front-end/public/config/imgs/*.png
!front-end/public/config/imgs/mylogo_big.example.png
!front-end/public/config/imgs/mylogo_small.example.png
front-end/config/local.json
front-end/public/config/local.json
back-end/node_modules
back-end/*.swp
back-end/Thumbs.db
back-end/*.lock
back-end/*.log
back-end/*.log-*
back-end/*.sublime-project
back-end/*.sublime-workspace
back-end/*.iws
back-end/*.ipr
back-end/*.iml
back-end/.idea/*
back-end/logs/*.log*
back-end/config/local.*
back-end/config/emails/images/*
back-end/files/**/
back-end/public/uploads
back-end/test/tmp/**
!back-end/test/tmp/README.md
