<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
    <div id="lightbox" class="wide_lightbox with_title_description">
        <div id="lightbox_wrap">
            <form name="signUpForm">
                <div id="lightbox_header">

                    <div id="lightbox_header_text">
                        <div class="title">Crea nuovo utente</div>
                        <div class="title_description_register">Crea un nuovo utente e lo aggiunge al gruppo "{{$ctrl.group.name}}".</div>
                    </div>

                    <div id="lightbox_close" ng-click="$ctrl.app.closeThisDialog($event)">
                        <div class="table_cell">
                            <div class="sprite sprite-btn-popup-close2x">
                            </div>
                        </div>
                    </div>
                    <div class="line lightest_line"></div>
                </div>

                <div class="lightbox_content">
                    <div id="sign_up_lightbox">
                        <div class="lightbox_section">
                            <input id="name" ng-model="$ctrl.form.name" placeholder="{{'MODALS.SIGN_UP_PLACEHOLDER_NAME' | translate}}" focus-if="{{$ctrl.app.wWidth > 1024}}" ng-class="{'error_input': $ctrl.errors.name}"
                                    maxlength="255" required>
                            <label for="name" class="error_label" ng-if="$ctrl.errors.name">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{$ctrl.errors.name}}"></span>
                                </div>
                            </label>
                            <input id="email" ng-model="$ctrl.form.email" placeholder="{{'MODALS.SIGN_UP_PLACEHOLDER_EMAIL' | translate}}" ng-class="{'error_input': $ctrl.errors.email}" maxlength="254" required>
                            <label for="email" class="error_label" ng-if="$ctrl.errors.email">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{$ctrl.errors.email}}"></span>
                                </div>
                            </label>
                            <input id="alias" ng-model="$ctrl.form.alias" placeholder="{{'MODALS.SIGN_UP_PLACEHOLDER_alias' | translate}}" ng-class="{'error_input': $ctrl.errors.alias}" maxlength="255" required>
                            <label for="alias" class="error_label" ng-if="$ctrl.errors.alias">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{$ctrl.errors.alias}}"></span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="lightbox_footer login_footer">
                    <div class="line lightest_line"></div>
                    <div class="lightbox_section">
                        <div class="footer_button_wrap"></div>
                        <div class="footer_button_wrap right">
                            <button type="submit" ng-click="$ctrl.createUser()" ng-disabled="groupInvite.$invalid" class="blue_button login_button">Crea utente</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="close_lightbox" ng-click="$ctrl.app.closeThisDialog($event)">
    </div>

</div>
