<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
    <div id="lightbox" class="wide_lightbox">
        <div id="lightbox_wrap">
            <form name="loginForm">
            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title">Accedi a Piazza 3.0</div>
                </div>

                <div id="lightbox_close" class="ngdialog-close" ng-click="$ctrl.app.closeThisDialog($event)">
                    <div class="table_cell ngdialog-close">
                        <div class="sprite sprite-btn-popup-close2x ngdialog-close">
                        </div>
                    </div>
                </div>

            </div>

            <div class="lightbox_content">
                <div id="login_lightbox">
                    <div class="line lightest_line"></div>
                    <div>
                        <div class="lightbox_section">
                                <!-- Do not focus on mobile devices, otherwise scrolls past social login options and shows keyboard -->
                                <div class="error_no_account" ng-if="$ctrl.errors.accoundDoesNotExist">
                                    <div class="icon_cell"><div class="sprite sprite-icon-inputfield-error2x"></div></div>
                                    <div class="table_cell">
                                        <span>Indirizzo e-mail o password errati.</a></span>
                                    </div>
                                </div>
                                <input id="email" ng-model="$ctrl.form.email" type="email" placeholder="Indirizzo e-mail" focus-if="{{$ctrl.app.wWidth > 1024 && !$ctrl.isFormEmailProvided}}"
                                       ng-class="{'error_input': $ctrl.errors.email}" maxlength="254" required>
                                <label for="email" class="error_label" ng-if="$ctrl.errors.email">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-inputfield-error2x"></div>
                                        <span translate="{{$ctrl.errors.email}}"></span>
                                    </div>
                                </label>
                                <div class="input_with_icon clickable">
                                    <input id="password" ng-model="$ctrl.form.password" type="password" placeholder="Password"
                                       focus-if="$ctrl.isFormEmailProvided" ng-class="{'error_input': $ctrl.errors.password}" maxlength="64" required cos-view-input>
                                </div>
                                <label for="password" class="error_label" ng-if="$ctrl.errors.password">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-inputfield-error2x"></div>
                                        <span translate="{{$ctrl.errors.password}}"></span>
                                    </div>
                                </label>
                                <div class="link_section">
                                    <a class="lightbox_link" ng-click="$ctrl.doResetPassword()" href="">Password dimenticata?</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lightbox_footer login_footer">
                <div class="line lightest_line"></div>
                <div class="lightbox_section">
                    <div class="footer_button_wrap"></div>
                    <div class="footer_button_wrap right">
                        <button type="submit" ng-click="$ctrl.doLogin()" cos-disabled="loginForm.$invalid" class="blue_button login_button">Accedi</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

    <div id="close_lightbox" class="ngdialog-close">
    </div>

</div>
