<div id="home_root" class="no_padding">

    <div class="section_header">
        <div class="title"><h1>Piazza 3.0: E-democracy per Piazza Armerina</h1></div>
        <div class="description">Piazza 3.0 è un progetto valoriale, ricreativo, formativo, culturale, apartitico, aconfessionale, libero e indipendente. È di natura socio-politica ed accoglie tutte le persone che condividono gli scopi enunciati nello statuto dell'Associazione. Si fonda sul volontariato, è autofinanziato ed è senza scopo di lucro. Piazza 3.0 si ispira ai principi costituzionali di democrazia e di uguaglianza, ai valori della vita, della pace, della libertà e persegue gli obiettivi della legalità, della giustizia e del benessere sociale.<br>Lo scopo principale di Piazza 3.0 è</div>
    </div>

</div>
