<div id="home_root" class="no_padding">

    <div class="section_header">
        <div class="title"><h1>Parlano di Noi</h1></div><br>
        <div class="description">
            <a class="section_item" target="_blank" ng-href="/imgs/la_sicilia_piazza_armerina.jpg"><b>[La Sicilia, Piazza Armerina]</b> Democrazia diretta sul web, Romano crea Piazza 3.0 - 4 Agosto 2023</a><br><br>
            <a class="section_item" target="_blank" ng-href="https://www.start-news.it/2023/08/04/e-democracy-a-piazza-armerina-nasce-piazza-3-0/"><b>[StartNews Piazza Armerina]</b> E-Democracy: a Piazza Armerina nasce Piazza 3.0 - 4 Agosto 2023</a><br><br>
        </div>
    </div>

</div>
