<div id="home_root" class="no_padding">

    <div class="section_header">
        <div class="title"><h1>Privacy Policy</h1></div>
        <div class="privacy_description">

            <h2>1. Informazioni generali</h2>

            <p>
                Questa Privacy Policy descrive come raccogliamo, utilizziamo, conserviamo e proteggiamo i dati personali degli utenti della piattaforma "Piazza 3.0" (ovvero del sito web <a href="https://piazzatrepuntozero.it">https://piazzatrepuntozero.it</a>).
            </p>
            <p>
                L'utilizzo della piattaforma implica l'accettazione delle pratiche descritte in questa politica sulla privacy. Se non sei d'accordo con questa politica, ti preghiamo di non utilizzare la piattaforma.
            </p>
    
            <h2>2. Dati raccolti</h2>
    
            <h3>a. Informazioni personali</h3>
            <p>
                Quando ti iscrivi alla nostra piattaforma, raccogliamo alcune informazioni personali per consentire la tua registrazione ed identificazione. Le informazioni raccolte includono:
            </p>
            <ul>
                <li>Nome e Cognome</li>
                <li>Comune di nascita</li>
                <li>Data di nascita</li>
                <li>Comune di residenza</li>
                <li>Indirizzo e-mail</li>
                <li>Numero di serie della carta di identità</li>
                <li>Copia della carta di identità (facoltativo)</li>
            </ul>
            <p>
                Solo <strong>Nome e Cognome</strong> e <strong>Comune di residenza/nascita</strong> saranno resi pubblici sul sito web e visibili agli altri utenti. <strong>L'indirizzo e-mail e tutte le altre informazioni rimarranno private</strong> e saranno utilizzate esclusivamente per scopi di autenticazione e comunicazione all'interno della piattaforma.
            </p>
    
            <h3>b. Dati di navigazione e cookie</h3>
            <p>
                Utilizziamo un unico cookie, chiamato <strong><i>app.sid</i></strong>, che è un <strong>cookie di sessione</strong>. Questo cookie viene utilizzato per autenticare gli utenti quando accedono alla piattaforma e scade dopo 140 giorni oppure quando si effettua il logout.
            </p>
            <ul>
                <li><strong>Nome del cookie</strong>: app.sid</li>
                <li><strong>Finalità</strong>: Autenticazione dell'utente</li>
                <li><strong>Durata</strong>: Sessione (scade dopo 140 giorni oppure dopo il logout)</li>
            </ul>
            <p>Non utilizziamo cookie di profilazione o di tracciamento per pubblicità.</p>
    
            <h2>3. Come utilizziamo i dati</h2>
            <p>
                Le informazioni personali fornite vengono utilizzate per i seguenti scopi:
            </p>
            <ul>
                <li>Registrazione e gestione del tuo account sulla piattaforma.</li>
                <li>Autenticazione dell'utente per accedere ai contenuti riservati.</li>
                <li>Comunicazioni relative al servizio (come notifiche sugli aggiornamenti derivanti dall'utilizzo della piattaforma).</li>
            </ul>
            <p>
                Non condividiamo, vendiamo o cediamo i tuoi dati personali a terze parti per scopi di marketing o pubblicità.
            </p>
    
            <h2>4. Protezione dei dati</h2>
            <p>
                Adottiamo misure tecniche e organizzative appropriate per garantire la sicurezza dei tuoi dati personali e prevenire accessi non autorizzati, divulgazioni o alterazioni.
            </p>
            <p>
                Utilizziamo protocolli sicuri come HTTPS per proteggere la trasmissione dei dati e limitiamo l'accesso alle informazioni personali solo ai dipendenti o ai collaboratori che ne necessitano per gestire il servizio.
            </p>
    
            <h2>5. Diritti degli utenti</h2>
            <p>
                Gli utenti hanno il diritto di:
            </p>
            <ul>
                <li><strong>Accedere</strong> ai propri dati personali e richiedere una copia delle informazioni conservate.</li>
                <li><strong>Modificare</strong> o <strong>aggiornare</strong> i propri dati.</li>
                <li><strong>Richiedere la cancellazione</strong> dei dati personali, salvo che la legge ci imponga di conservarli.</li>
            </ul>
            <p>
                Per esercitare uno di questi diritti, puoi contattarci al seguente indirizzo e-mail: <a href="mailto:info@piazzatrepuntozero.it">info@piazzatrepuntozero.it</a>.
            </p>
    
            <h2>6. Conservazione dei dati</h2>
            <p>
                I dati personali vengono conservati solo per il tempo necessario a soddisfare le finalità per cui sono stati raccolti, come descritto in questa Privacy Policy, o per ottemperare a obblighi legali.
            </p>
    
            <h2>7. Modifiche alla Privacy Policy</h2>
            <p>
                Ci riserviamo il diritto di modificare questa Privacy Policy in qualsiasi momento. Le modifiche saranno pubblicate su questa pagina, e se sostanziali, verrà fornita una notifica più visibile (ad esempio tramite una notifica all'interno della piattaforma oppure via e-mail).
            </p>
    
            <h2>8. Contatti</h2>
            <p>
                Se hai domande sulla nostra Privacy Policy o sul trattamento dei tuoi dati personali, puoi contattarci all'indirizzo email <a href="mailto:info@piazzatrepuntozero.it">info@piazzatrepuntozero.it</a>.
            </p>
        </div>
    </div>

</div>
